/*Códigos CSS para a formatação do layout da view do index.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

.tdCentralizado {	
	
	text-align: center;
}

button{
	padding-right: 20px;
}















